{% extends "_layout.html" %}
{% block main %}
    <div class="container">
      <h2>{{ header }}</h2>
      {% if signature %}
        <p><em>by {{ signature }}</em></p>
      {% endif %}
      <p>{{ body|safe }}</p>
      <p>{{ url }}</p>
      {% if editable %}
        <form method="POST" action="{{ slug }}/edit">
          <div class="form-group">
            <button class="btn btn-primary" name="edit" value="edit" type="submit">Edit</button>
          </div>
        </form>
      {% endif %}
    </div>
{% endblock %}
